In [427]:
import pandas as pd
df_stations_again = pd.read_csv('stations_again.csv')

# Direction:
df_stations_again[df_stations_again.direction == 'North'].count()
#     North - 112
df_stations_again[df_stations_again.direction == 'South'].count()
#     South - 206
df_stations_again[df_stations_again.direction == 'East'].count()
#     East - 124
df_stations_again[df_stations_again.direction == 'West'].count()
#     West - 159
df_stations_again[df_stations_again.direction == 'Central'].count()
#     Central - 53
df_stations_again.loc[df_stations_again['direction'].isin(['North','South','East','West','Central'])]
#     Total - 654

# Borough:
df_stations_again[df_stations_again.borough == 'Barking and Dagenham'].count()
#     Barking and Dagenham - 4
df_stations_again[df_stations_again.borough == 'Barnet'].count()
#     Barnet - 3
df_stations_again[df_stations_again.borough == 'Berkshire'].count()
#     Berkshire - 6
df_stations_again[df_stations_again.borough == 'Bexley'].count()
#     Bexley - 6
df_stations_again[df_stations_again.borough == 'Brent'].count()
#     Brent - 5
df_stations_again[df_stations_again.borough == 'Bromley'].count()
#     Tower Hamlets - 25
df_stations_again[df_stations_again.borough == 'Buckinghamshire'].count()
#     Buckinghamshire - 1
df_stations_again[df_stations_again.borough == 'Camden'].count()
#     Camden - 9
df_stations_again[df_stations_again.borough == 'Chelmsford'].count()
#     Chelmsford - 4
df_stations_again[df_stations_again.borough == 'City of London'].count()
#     City of London - 12
df_stations_again[df_stations_again.borough == 'Croydon'].count()
#     Croydon - 46
df_stations_again[df_stations_again.borough == 'Dartford'].count()
#     Dartford - 5
df_stations_again[df_stations_again.borough == 'Ealing'].count()
#     Ealing - 19
df_stations_again[df_stations_again.borough == 'Enfield'].count()
#     Enfield - 23
df_stations_again[df_stations_again.borough == 'Greenwich'].count()
#     Greenwich - 10
df_stations_again[df_stations_again.borough == 'Harringay'].count()
#     Harrigay - 3
df_stations_again[df_stations_again.borough == 'Hammersmith and Fulham'].count()
#     Hammersmith and Fulham - 3
df_stations_again[df_stations_again.borough == 'Hackney'].count()
#     Hackney - 12
df_stations_again[df_stations_again.borough == 'Harrow'].count()
#     Harrow - 12
df_stations_again[df_stations_again.borough == 'Havering'].count()
#     Havering - 15
df_stations_again[df_stations_again.borough == 'Hertfordshire'].count()
#     Hertfordshire - 9
df_stations_again[df_stations_again.borough == 'Hillingdon'].count()
#     Hillingdon - 11
df_stations_again[df_stations_again.borough == 'Hounslow'].count()
#     Hounslow - 3
df_stations_again[df_stations_again.borough == 'Islington'].count()
#     Islington - 9
df_stations_again[df_stations_again.borough == 'Kensington and Chelsea'].count()
#     Kensington and Chelsea - 2
df_stations_again[df_stations_again.borough == 'Kingston upon Thames'].count()
#     Kingston upon Thames - 22
df_stations_again[df_stations_again.borough == 'Lambeth'].count()
#     Lambeth - 11
df_stations_again[df_stations_again.borough == 'Lewisham'].count()
#     Lewisham - 14
df_stations_again[df_stations_again.borough == 'Merton'].count()
#     Merton - 13
df_stations_again[df_stations_again.borough == 'Newham'].count()
#     Newham - 5
df_stations_again[df_stations_again.borough == 'Redbridge'].count()
#     Redbridge - 7
df_stations_again[df_stations_again.borough == 'Reigate and Banstead'].count()
#     Reigate and Banstead - 1
df_stations_again[df_stations_again.borough == 'Richmond upon Thames'].count()
#     Richmond upon Thames - 26
df_stations_again[df_stations_again.borough == 'Southwark'].count()
#     Southwark - 6
df_stations_again[df_stations_again.borough == 'Sutton'].count()
#     Sutton - 11
df_stations_again[df_stations_again.borough == 'Tower Hamlets'].count()
#     Tower Hamlets - 13
df_stations_again[df_stations_again.borough == 'Waltham Forest'].count()
#     Waltham Forest - 6
df_stations_again[df_stations_again.borough == 'Wandsworth'].count()
#     Wandsworth - 16
df_stations_again[df_stations_again.borough == 'Westminster'].count()
#     Westminster - 11

station_identity    32
station_deletion    32
station             32
latitude            32
longitude           32
zone                32
postcode            32
area                32
borough             32
direction           32
dtype: int64

In [96]:
import pandas as pd
cwd = os.getcwd()
# df = pd.read_csv(cwd + '/files/scores.csv')
# df['pool'] = False
# df
list(df)
# # meals_list = ['True']
# # filtered_values = df.loc[(
# #         df['meals'].astype(str).isin(meals_list)
# #     )]
# # # df2 = df.loc[df['meals'] == True]
# # filtered_values
# # df['pet']=False
# # df['quiz']=False
# # df['lively']=False
# # df['rating']=0
df2 = df[['review_identity',
 'review_deletion',
 'pub_identity',
 'visit',
 'star',
 'atmosphere',
 'cleanliness',
 'clientele',
 'decor',
 'entertainment',
 'food',
 'friendliness',
 'opening',
 'price',
 'selection',
 'rating',
 'reviewer',
 'pet',
 'tv',
 'garden',
 'music',
 'late',
 'meals',
 'toilet',
 'cheap',
 'games',
 'quiz',
 'pool',
 'lively']]
# df2
df2.to_csv(cwd + '/files/scores.csv', index=False, sep=',', encoding='utf-8')
df2

,review_identity,review_deletion,pub_identity,visit,star,atmosphere,cleanliness,clientele,decor,entertainment,...,garden,music,late,meals,toilet,cheap,games,quiz,pool,lively
0,1869bc0d-e2a8-40c9-bcba-073bfaaa4ba0,False,00ffd490-b3b8-424d-b5d2-5122bbebdba2,test date,decor,6.0,5.0,6.0,8.0,2.0,...,False,False,False,False,False,False,False,False,False,False
1,e1c5fd3e-8fb3-40ff-a7cb-1bf2d20e8611,False,10f611a2-512f-4b07-aa57-8de878ccbb3b,test date,decor,7.0,10.0,6.0,10.0,0.0,...,False,False,False,False,False,False,False,False,False,False
2,90ccf461-1a45-48ee-b8e2-9270e36393e4,False,0d3af39b-2da5-4ce4-bb58-734a1523af77,2023-02-16,clientele,8.0,4.0,9.0,7.0,6.0,...,False,False,False,False,False,False,False,False,False,False
3,f2df2681-9b63-46a7-83f2-1fb8d6e3e0a1,False,efcf3870-da4d-4a44-9c1b-3d5be38edeaa,test date,decor,6.0,3.0,7.0,9.0,4.0,...,False,False,False,False,False,False,False,False,False,False
4,50fa15ac-5cd3-41ab-a183-54e52897955a,False,eabe0a83-2841-4c72-b86a-4fb5504e2161,2023-02-16,entertainment,6.0,5.0,6.0,6.0,8.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,c44e9e14-ff8b-4a5c-b633-d4e040aa8362,False,2615935b-9f1d-4181-bfd7-cc492b5e16f1,test date,NaN,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
73,21bf8d65-522f-4309-a018-ac4321ea303a,False,496c556c-124e-45ed-a9a6-5630502257b2,"April 03, 2023",NaN,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
74,f3aea85b-1bd9-46d1-80a5-40afd9015996,False,1be322d1-88b8-45b8-9605-9ab95c5aecc5,"April 03, 2023",NaN,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
75,feb58162-e0fc-42f6-8152-2b76934cafee,False,fd3429c1-e6df-4d09-a9f1-3fa297a0e8ca,"April 03, 2023",NaN,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
76,259949ed-f608-42d5-908f-b2f4b1d5e723,False,e4f53ff0-5c81-4497-ac4e-15fcba0f1fa5,"April 04, 2023",price,7.0,4.0,7.0,8.0,0.0,...,False,False,False,False,False,False,False,False,False,False

In [444]:
df_boroughs = pd.DataFrame(df_stations_again['borough'].unique())
# df_boroughs
df.groupby(['col5', 'col2']).size()

In [76]:
df2.rename(columns={'rating': 'cheap'}, inplace=True)
df2.to_csv(cwd + '/files/scores.csv', index=False, sep=',', encoding='utf-8')
df2

/var/folders/cw/sq91_wk16x98gmpdhs2gdfr80000gn/T/ipykernel_24205/1430772326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.rename(columns={'rating': 'cheap'}, inplace=True)

,review_identity,pub_identity,review_deletion,visit,star,atmosphere,cleanliness,clientele,decor,entertainment,...,garden,music,late,meals,toilets,cheap,games,quiz,pool,lively
0,1869bc0d-e2a8-40c9-bcba-073bfaaa4ba0,00ffd490-b3b8-424d-b5d2-5122bbebdba2,False,test date,decor,6.0,5.0,6.0,8.0,2.0,...,False,False,False,False,False,False,False,False,False,False
1,e1c5fd3e-8fb3-40ff-a7cb-1bf2d20e8611,10f611a2-512f-4b07-aa57-8de878ccbb3b,False,test date,decor,7.0,10.0,6.0,10.0,0.0,...,False,False,False,False,False,False,False,False,False,False
2,90ccf461-1a45-48ee-b8e2-9270e36393e4,0d3af39b-2da5-4ce4-bb58-734a1523af77,False,2023-02-16,clientele,8.0,4.0,9.0,7.0,6.0,...,False,False,False,False,False,False,False,False,False,False
3,f2df2681-9b63-46a7-83f2-1fb8d6e3e0a1,efcf3870-da4d-4a44-9c1b-3d5be38edeaa,False,test date,decor,6.0,3.0,7.0,9.0,4.0,...,False,False,False,False,False,False,False,False,False,False
4,50fa15ac-5cd3-41ab-a183-54e52897955a,eabe0a83-2841-4c72-b86a-4fb5504e2161,False,2023-02-16,entertainment,6.0,5.0,6.0,6.0,8.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,b29bc273-e905-4d33-addf-25b0a9ff9b41,ec5ebd0b-b052-4d3f-ba4a-a3fbf7a2dd06,False,17/04/2023,NaN,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
78,8e59a64f-684d-44b2-8554-dd968e9465ed,2c45dc30-11d4-4290-b2af-903d5e8dbd18,False,"April 17, 2023",atmosphere,8.0,4.0,7.0,6.0,3.0,...,False,True,False,False,True,True,False,False,False,False
79,NaN,0ffed612-ccb0-4f4f-a56d-75324cc0862c,False,12/05/2023,NaN,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
80,NaN,fcbe640b-1bae-4c6c-8e9e-987bdc8a9cd0,False,16/05/2023,NaN,0.0,0.0,0.0,0.0,0.0,...,False,True,False,True,True,True,False,True,True,False
81,NaN,4e857a06-2301-4d55-965d-07ecbc689042,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False

In [18]:
import os
import uuid
import pandas as pd
cwd = os.getcwd()
# df = pd.read_csv(cwd + '/files/scores.csv')
# df.loc[df['pub_identity'] == '866ef4d9-669f-4bab-ade2-1af9da1a0065', 'review_identity'] = uuid.uuid4()
# df
# list(df)
# df['pool']=False
# df2 = df[['review_identity',
#  'review_deletion',
#  'pub_identity',
#  'visit',
#  'star',
#  'atmosphere',
#  'cleanliness',
#  'clientele',
#  'decor',
#  'entertainment',
#  'food',
#  'friendliness',
#  'opening',
#  'price',
#  'selection',
#  'reviewer',
#  'rating',
#  'pet',
#  'tv',
#  'garden',
#  'music',
#  'late',
#  'meals',
#  'toilets',
#  'cheap',
#  'games',
#  'quiz',
#  'pool',
#  'lively']]
# df.rename(columns={'toilet': 'toilets'}, inplace=True)
# df2
df.to_csv(cwd + '/files/scores.csv', index=False, sep=',', encoding='utf-8')

In [ ]:
['review_identity',
 '                     pub_identity',
 '                        review_deletion',
 'visit',
 '    star',
 ' atmosphere',
 'cleanliness',
 'clientele',
 'decor',
 'entertainment',
 'food',
 'friendliness',
 'opening',
 'price',
 'selection',
 'reviewer',
 'rating',
 'pet',
 '  tv',
 '   garden',
 'music',
 'late',
 ' meals',
 'toilets',
 'cheap',
 'games',
 'quiz',
 ' pool',
 ' lively']

In [44]:
# df_stations['borough'] = np.where(df_stations['area'] == 'Clapham', 'Wandsworth', df_stations['area'])
import pandas as pd
cwd = os.getcwd()
# df = pd.read_csv(cwd + '/files/photos.csv')
# df = df.drop('name', axis=1)
df_photos = pd.read_csv(cwd + '/files/photos.csv')
df_new = pd.DataFrame([('fcbe640b-1bae-4c6c-8e9e-987bdc8a9cd0', uuid.uuid4(), False)], columns=['pub_identity', 'photo_identity', 'photo_deletion'])
df = pd.concat([df_photos, df_new], ignore_index=True)
df

,pub_identity,photo_identity,photo_deletion
0,00ffd490-b3b8-424d-b5d2-5122bbebdba2,ad340446-f5a3-475e-8af1-8218b8dfe54c,False
1,10f611a2-512f-4b07-aa57-8de878ccbb3b,2cd0125d-a347-49dc-a2e0-b15e7cbe4c63,False
2,7f3d8913-5a6d-40a4-a3e4-cd6eb0b0b8bf,01a0c2e2-e1ee-46f1-9af1-7dd61e66e80f,False
3,0d3af39b-2da5-4ce4-bb58-734a1523af77,7258c33d-54a1-4398-a795-05c40060fbd4,False
4,b9f3cbd8-2466-4652-9158-0d8a432bc1e7,cc7d4931-3eaf-48ab-8585-68a4bd2e3f62,False
...,...,...,...
84,15902683-9de7-4f30-b844-0d3afa2f8490,29a62963-dfd3-4fd8-a817-d3ec47d13fe7,False
85,7ce45ed3-0ba2-4fd7-a5cc-0aaca8ebf2f5,e8e4a748-24e8-4572-bb6e-e52717d0b869,False
86,147bd112-05ca-47ad-b39c-439acdbda4b9,3f9214f4-7004-49e0-81a6-ba67df8fe4bb,False
87,525edbdd-8eda-46f4-800d-013076d66f7f,6bea84ce-7c44-44c6-ac15-19fe653b84fa,False
88,fcbe640b-1bae-4c6c-8e9e-987bdc8a9cd0,aaf1d4c0-b049-46a4-bb11-1a7cc3dd5c6f,False

In [45]:
df.to_csv(cwd + '/files/photos.csv', index=False, sep=',', encoding='utf-8')

In [19]:
import os
import uuid
import pandas as pd
cwd = os.getcwd()
# venues = pd.read_csv(cwd + '/files/venues.csv')
areas = pd.read_csv(cwd + '/files/areas.csv')
# areas.sort_values(by=['area'])

                          
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Battersea', 'type':'area', 'latitude':'51.4722', 'longitude':'-0.1655', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Brixton', 'type':'area', 'latitude':'51.4613', 'longitude':'-0.1156', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Hampstead', 'type':'area', 'latitude':'51.5556', 'longitude':'-0.1762', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Putney', 'type':'area', 'latitude':'51.4596', 'longitude':'-0.2141', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Stratford', 'type':'area', 'latitude':'51.5426', 'longitude':'-0.0010', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Twickenham', 'type':'area', 'latitude':'51.4453', 'longitude':'-0.3375', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Woodford', 'type':'area', 'latitude':'51.6042', 'longitude':'0.0325', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Alexandra Palace', 'type':'area', 'latitude':'51.5941', 'longitude':'-0.1298', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Bow', 'type':'area', 'latitude':'51.5321', 'longitude':'-0.0308', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Balham', 'type':'area', 'latitude':'51.4440', 'longitude':'-0.1494', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Borough', 'type':'area', 'latitude':'51.4881', 'longitude':'-0.0763', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Dulwich', 'type':'area', 'latitude':'51.4433', 'longitude':'-0.0676', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Hoxton', 'type':'area', 'latitude':'51.5311', 'longitude':'-0.0866', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Greenwich', 'type':'area', 'latitude':'51.4934', 'longitude':'0.0098', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Leyton', 'type':'area', 'latitude':'51.5702', 'longitude':'-0.0147', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Kennington', 'type':'area', 'latitude':'51.4880', 'longitude':'-0.1119', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Notting Hill', 'type':'area', 'latitude':'51.5160', 'longitude':'-0.2090', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Richmond', 'type':'area', 'latitude':'51.4613', 'longitude':'-0.3037', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Stoke Newington', 'type':'area', 'latitude':'51.5612', 'longitude':'-0.0835', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Spitalfields', 'type':'area', 'latitude':'51.5189', 'longitude':'-0.0748', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Streatham', 'type':'area', 'latitude':'51.4307', 'longitude':'-0.1295', 'parent_identity': '0'}
# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Tooting', 'type':'area', 'latitude':'51.4282', 'longitude':'-0.1669', 'parent_identity': '0'}
new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Wimbleon', 'type':'area', 'latitude':'51.4183', 'longitude':'-0.2206', 'parent_identity': '0'}
areas = areas.append(new_row, ignore_index=True)
areas.to_csv(cwd + '/files/areas.csv', index=False, sep=',', encoding='utf-8')
areas.sort_values(by=['area'])

/var/folders/cw/sq91_wk16x98gmpdhs2gdfr80000gn/T/ipykernel_24205/410418677.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  areas = areas.append(new_row, ignore_index=True)

,area_identity,area_deletion,area,type,latitude,longitude,parent_identity,photo_identity
36,4405ca8a-c2a0-4040-94c2-877f2b6ced1d,False,Alexandra Palace,area,51.5941,-0.1298,0,NaN
38,5f526db5-a48e-4d34-b017-e6c833dbb57c,False,Balham,area,51.444,-0.1494,0,NaN
29,def450bf-c4cf-488e-9602-95a28f6d7020,False,Battersea,area,51.4722,-0.1655,NaN,0db87051-e519-4c85-a20f-410c6f5bcda0
0,33869d87-05dc-4728-a03a-c94cbab80292,False,Belgravia,area,51.497189,-0.153124,46d55da1-a72f-4221-bddc-676473092b49,48e727ee-6267-42fc-ba5b-be124326c01a
26,3765283d-ade4-45d8-b3fa-2121fc7776ad,False,Bermondsey,area,51.49354,-0.06539,0,83a95871-80c6-4007-947a-450d7c33da36
11,031970b0-c0f6-450a-8515-4129c30f3302,False,Bethnal Green,area,51.53225,-0.04813,0a941967-b023-429d-8f0e-e8e6b3d02402,de769202-e6da-4ba7-95e4-ebcc9efd3c72
6,8d7a9d04-eea3-45d7-a17c-e5271cbc1fa4,False,Bloomsbury,area,51.521987,-0.129058,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,5ac36d52-fed0-43a1-badf-28e5ed764b01
39,973e12de-e093-438f-8878-6337a0555ee8,False,Borough,area,51.4881,-0.0763,0,NaN
37,bfd8e41d-0402-4aa5-9bdb-4382e3ec894e,False,Bow,area,51.5321,-0.0308,0,NaN
30,b6fba238-e15d-4046-add2-5cbd96c5213d,False,Brixton,area,51.4613,-0.1156,0,01ed7afe-b255-43ff-a32e-6d0df3ce6857
14,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,False,Camden,borough,51.54063,-0.1428,2462a123-156f-4959-871a-3d5246509f3f,d0eb7a72-5025-45be-9e57-9c3c477819c2
13,71f589fb-f617-48b9-b779-dc1e8d73b1fe,False,City,borough,51.51382,-0.0913,9a1922f6-0f90-4039-81a9-3b3a485f0eb8,b5b1f699-385d-496a-85ca-92b1814d3a46
28,8aed4e72-6690-4915-88c7-a7047131bf7e,False,Clapham,area,51.45654,-0.13876,0,f2b83fc5-bedd-4705-9a4e-e0a870e9ad29
25,ad43afd8-c0fb-4f48-a782-4d62270ca145,False,Clapton,area,51.55682,-0.05529,0,62988908-e318-4f7f-a79f-d19e4a919cc0
8,5dbbbdb9-3ab1-4a96-a0e9-edf4ca8bd52a,False,Covent Garden,area,51.51318,-0.12426,46d55da1-a72f-4221-bddc-676473092b49,bb0f90f0-e695-4922-8f3e-5e6a86557f35
24,4670ba4f-8ece-457e-ac1d-b7ab9c8bc4eb,False,Dalston,area,51.54668,-0.07498,0,366e187b-1415-4f30-8689-eb2b9ffa5c43
40,7ff20868-bf74-4699-ab85-c4c337b1a342,False,Dulwich,area,51.4433,-0.0676,0,NaN
23,9396d9ef-c062-4530-b395-5bae8304c034,False,Elephant and Castle,area,51.49689,-0.10051,0,34efd5bf-751c-4b5a-9350-a4a5348c9259
9,87b4b121-bf17-44e7-805a-a860f9ee4b33,False,Farringdon,area,51.5229,-0.10435,71f589fb-f617-48b9-b779-dc1e8d73b1fe,fb3ad85f-bbd3-464e-9660-a15b55e8fa4d
5,8e74a1f3-b8fc-4986-a520-0884eb581cb7,False,Finsbury Park,area,51.56598,-0.10504,6f1fe7e4-3c54-4cfd-aae2-03692419e90e,7cf30976-12ab-4ce7-a874-912752d21eb4
42,d6a33c82-82e7-4a53-9e7b-755b72e8586e,False,Greenwich,area,51.4934,0.0098,0,NaN
15,16240ef3-d2e9-4d02-bd79-fabaf2147ff3,False,Hackney,borough,51.545,-0.0553,577cffa7-03ea-4d0f-8615-0b625e01e3ca,0402e233-536c-4340-ab69-4c0e69344bf0
18,d6404801-5f6d-4fcd-b998-45bc07588574,False,Hammersmith,area,51.49203,-0.22393,0,336ce42b-5387-417a-8c0a-eb5ebde75661
31,3604053e-7d97-4da1-a00f-e65844248107,False,Hampstead,area,51.5556,-0.1762,0,28055230-88b6-44a9-b9fa-f029bb9a198c
7,87fbc59f-9c44-4e78-b4b5-000ef3b4d559,False,Holborn,area,51.51856,-0.11452,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,2f77f48f-a4e9-4ae8-960d-d9ae6c3294fd
41,00763a76-7504-4fd1-84e1-57184c44e46f,False,Hoxton,area,51.5311,-0.0866,0,NaN
20,7b9db47d-0a1c-429c-9608-711ed711e845,False,Islington,area,51.5406,-0.10313,0,56ed80b2-ccf7-4f50-a4f9-9336b65d5e41
44,d41f64bb-46cf-4fc0-892e-4ebf263897a1,False,Kennington,area,51.488,-0.1119,0,NaN
43,243b75de-2b66-48a4-a302-4d8800692296,False,Leyton,area,51.5702,-0.0147,0,NaN
27,75808b33-a6d6-4e79-bc63-cce0831d36a9,False,London Bridge,area,51.50337,-0.0877,0,b9ecca89-5b0b-4c09-8a7f-e159688c0f77
19,fa6b3525-c4d4-4a9c-b10c-6f097fa658ec,False,Loughton,area,51.65746,0.06806,0,24d2b966-aef5-4e45-8f1c-c06b288c9e03
4,f25607ca-ec88-46dc-a1f3-b8dedd3e5ca3,False,Marleybone,area,51.51996,-0.14958,46d55da1-a72f-4221-bddc-676473092b49,e99686ed-6e72-4a20-9350-cc7271d7d5bc
2,632602fe-f847-4e12-9e03-31e3d22aa344,False,Mayfair,area,51.51334,-0.14812,46d55da1-a72f-4221-bddc-676473092b49,8cd1557c-c884-4e5f-a15a-0d110748a24f
45,f54b7658-a904-4e35-bfac-585287f06a64,False,Notting Hill,area,51.516,-0.209,0,NaN
32,27f06f5f-2248-4b0c-b597-1b12a4164209,False,Putney,area,51.4596,-0.2141,0,495d3b4a-76f8-4dcb-9456-436a783697db
46,e94443cc-1679-46b0-98dd-9b46f651d6b2,False,Richmond,area,51.4613,-0.3037,0,NaN
17,9bc188bd-c112-456f-bfcf-5c31030b2d24,False,Rickmansworth,area,51.64444,-0.47316,0,1c4d2d05-f2d7-46c6-84a8-9d994d5e785d
21,95a37f36-5b87-4eb8-b1d8-2aba80c64d7a,False,Rotherhithe,area,51.49731,-0.0412,0,60a97291-2183-40df-ab56-5b7416cccdd4
1,a8270094-1d5b-4558-a1d0-5be568497233,False,Shepherds Bush,area,51.50616,-0.22483,6e1f4a8e-094c-4453-810d-a9a871de29c4,758baa09-e7dc-4c22-b05b-f70c37af0269
10,480fafaa-7b2b-4282-a14f-e226e0b20922,False,Shoreditch,area,51.52383,-0.07545,0a941967-b023-429d-8f0e-e8e6b3d02402,0ef4d0c7-91d4-4128-9115-ead6ebef2be9
3,1676a419-f2d0-4bf4-a5ae-569fea25e991,False,Soho,area,51.51489,-0.13645,46d55da1-a72f-4221-bddc-676473092b49,fd088478-cc9e-4599-854b-034633db4838
16,31e94930-b83f-4fed-914f-23c75fb14cae,False,South Bank,area,51.5049,-0.1136,NaN,9a993db8-af68-47da-8ad8-b072bb40ef88
48,42591133-6127-4928-a6fc-d0f99e2c3d9a,False,Spitalfields,area,51.5189,-0.0748,0,NaN
47,4ba994d3-be0f-4955-9926-d41d5b751170,False,Stoke Newington,area,51.5612,-0.0835,0,NaN
33,3738367d-e50c-45bb-b380-6a2c3b13572a,False,Stratford,area,51.5426,-0.001,0,b6af6702-6539-497b-b7cd-37bd6b90a639
49,694afc53-63a6-4bb5-b7cd-f45058482cbe,False,Streatham,area,51.4307,-0.1295,0,NaN
50,fa1a6a3f-9a28-4e98-8114-5daf04677e4b,False,Tooting,area,51.4282,-0.1669,0,NaN
34,e3e2b4bb-250f-442f-87c4-35558cb512f6,False,Twickenham,area,51.4453,-0.3375,0,ce222f11-ddbb-4b48-9d1f-e9a503986aef
12,be3be431-d8c0-4327-83e7-4718f2d97d97,False,Walthamstow,area,51.59072,-0.01736,b7a4cf4e-05f0-4dac-949a-cb99d8cb8a7e,f5f4ad9b-94c0-4726-89fe-2aafdb7de9cd
22,1c66e2c9-d99f-479f-8fcd-95a55d380678,False,Wapping,area,51.50821,-0.05875,0,a2fb86ba-5cb0-4228-8478-191a834ee76e
51,fc02fd90-d848-46ff-95ce-b360722d9315,False,Wimbleon,area,51.4183,-0.2206,0,NaN
35,dbd74f8b-e5a6-480d-8654-f76796982e46,False,Woodford,area,51.6042,0.0325,0,fae607f2-35c3-4130-bb57-883c721f35ef

In [38]:
import uuid
areas.loc[areas['area'] == 'Tooting', 'photo_identity'] = uuid.uuid4()
areas.sort_values(by=['area'])

,area_identity,area_deletion,area,type,latitude,longitude,parent_identity,photo_identity
36,4405ca8a-c2a0-4040-94c2-877f2b6ced1d,False,Alexandra Palace,area,51.5941,-0.1298,0,6e850287-086b-4a29-a6cf-3ff30148fa1f
38,5f526db5-a48e-4d34-b017-e6c833dbb57c,False,Balham,area,51.444,-0.1494,0,4e4ccf29-097c-4187-82c6-39b566620ecb
29,def450bf-c4cf-488e-9602-95a28f6d7020,False,Battersea,area,51.4722,-0.1655,NaN,0db87051-e519-4c85-a20f-410c6f5bcda0
0,33869d87-05dc-4728-a03a-c94cbab80292,False,Belgravia,area,51.497189,-0.153124,46d55da1-a72f-4221-bddc-676473092b49,48e727ee-6267-42fc-ba5b-be124326c01a
26,3765283d-ade4-45d8-b3fa-2121fc7776ad,False,Bermondsey,area,51.49354,-0.06539,0,83a95871-80c6-4007-947a-450d7c33da36
11,031970b0-c0f6-450a-8515-4129c30f3302,False,Bethnal Green,area,51.53225,-0.04813,0a941967-b023-429d-8f0e-e8e6b3d02402,de769202-e6da-4ba7-95e4-ebcc9efd3c72
6,8d7a9d04-eea3-45d7-a17c-e5271cbc1fa4,False,Bloomsbury,area,51.521987,-0.129058,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,5ac36d52-fed0-43a1-badf-28e5ed764b01
39,973e12de-e093-438f-8878-6337a0555ee8,False,Borough,area,51.4881,-0.0763,0,9bbf7c2d-51b3-4eef-8154-73be965cadce
37,bfd8e41d-0402-4aa5-9bdb-4382e3ec894e,False,Bow,area,51.5321,-0.0308,0,67d89b52-1498-413a-9e94-2238edefcc1b
30,b6fba238-e15d-4046-add2-5cbd96c5213d,False,Brixton,area,51.4613,-0.1156,0,01ed7afe-b255-43ff-a32e-6d0df3ce6857
14,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,False,Camden,borough,51.54063,-0.1428,2462a123-156f-4959-871a-3d5246509f3f,d0eb7a72-5025-45be-9e57-9c3c477819c2
13,71f589fb-f617-48b9-b779-dc1e8d73b1fe,False,City,borough,51.51382,-0.0913,9a1922f6-0f90-4039-81a9-3b3a485f0eb8,b5b1f699-385d-496a-85ca-92b1814d3a46
28,8aed4e72-6690-4915-88c7-a7047131bf7e,False,Clapham,area,51.45654,-0.13876,0,f2b83fc5-bedd-4705-9a4e-e0a870e9ad29
25,ad43afd8-c0fb-4f48-a782-4d62270ca145,False,Clapton,area,51.55682,-0.05529,0,62988908-e318-4f7f-a79f-d19e4a919cc0
8,5dbbbdb9-3ab1-4a96-a0e9-edf4ca8bd52a,False,Covent Garden,area,51.51318,-0.12426,46d55da1-a72f-4221-bddc-676473092b49,bb0f90f0-e695-4922-8f3e-5e6a86557f35
24,4670ba4f-8ece-457e-ac1d-b7ab9c8bc4eb,False,Dalston,area,51.54668,-0.07498,0,366e187b-1415-4f30-8689-eb2b9ffa5c43
40,7ff20868-bf74-4699-ab85-c4c337b1a342,False,Dulwich,area,51.4433,-0.0676,0,0b33c31e-2598-4c3d-b56b-b764f17bcaa2
23,9396d9ef-c062-4530-b395-5bae8304c034,False,Elephant and Castle,area,51.49689,-0.10051,0,34efd5bf-751c-4b5a-9350-a4a5348c9259
9,87b4b121-bf17-44e7-805a-a860f9ee4b33,False,Farringdon,area,51.5229,-0.10435,71f589fb-f617-48b9-b779-dc1e8d73b1fe,fb3ad85f-bbd3-464e-9660-a15b55e8fa4d
5,8e74a1f3-b8fc-4986-a520-0884eb581cb7,False,Finsbury Park,area,51.56598,-0.10504,6f1fe7e4-3c54-4cfd-aae2-03692419e90e,7cf30976-12ab-4ce7-a874-912752d21eb4
42,d6a33c82-82e7-4a53-9e7b-755b72e8586e,False,Greenwich,area,51.4934,0.0098,0,62515a08-ea50-4715-8308-1b4123c66442
15,16240ef3-d2e9-4d02-bd79-fabaf2147ff3,False,Hackney,borough,51.545,-0.0553,577cffa7-03ea-4d0f-8615-0b625e01e3ca,0402e233-536c-4340-ab69-4c0e69344bf0
18,d6404801-5f6d-4fcd-b998-45bc07588574,False,Hammersmith,area,51.49203,-0.22393,0,336ce42b-5387-417a-8c0a-eb5ebde75661
31,3604053e-7d97-4da1-a00f-e65844248107,False,Hampstead,area,51.5556,-0.1762,0,28055230-88b6-44a9-b9fa-f029bb9a198c
7,87fbc59f-9c44-4e78-b4b5-000ef3b4d559,False,Holborn,area,51.51856,-0.11452,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,2f77f48f-a4e9-4ae8-960d-d9ae6c3294fd
41,00763a76-7504-4fd1-84e1-57184c44e46f,False,Hoxton,area,51.5311,-0.0866,0,a85c6e8e-c79b-4214-bd8d-398ddbb9aaee
20,7b9db47d-0a1c-429c-9608-711ed711e845,False,Islington,area,51.5406,-0.10313,0,56ed80b2-ccf7-4f50-a4f9-9336b65d5e41
44,d41f64bb-46cf-4fc0-892e-4ebf263897a1,False,Kennington,area,51.488,-0.1119,0,57350661-4de9-4bc0-9f27-fac867289a0a
43,243b75de-2b66-48a4-a302-4d8800692296,False,Leyton,area,51.5702,-0.0147,0,3cb3534e-58ff-412a-a154-1a6dc6eb365e
27,75808b33-a6d6-4e79-bc63-cce0831d36a9,False,London Bridge,area,51.50337,-0.0877,0,b9ecca89-5b0b-4c09-8a7f-e159688c0f77
19,fa6b3525-c4d4-4a9c-b10c-6f097fa658ec,False,Loughton,area,51.65746,0.06806,0,24d2b966-aef5-4e45-8f1c-c06b288c9e03
4,f25607ca-ec88-46dc-a1f3-b8dedd3e5ca3,False,Marleybone,area,51.51996,-0.14958,46d55da1-a72f-4221-bddc-676473092b49,e99686ed-6e72-4a20-9350-cc7271d7d5bc
2,632602fe-f847-4e12-9e03-31e3d22aa344,False,Mayfair,area,51.51334,-0.14812,46d55da1-a72f-4221-bddc-676473092b49,8cd1557c-c884-4e5f-a15a-0d110748a24f
45,f54b7658-a904-4e35-bfac-585287f06a64,False,Notting Hill,area,51.516,-0.209,0,61c8767c-33cd-4a9b-aad4-a48c4c78befc
32,27f06f5f-2248-4b0c-b597-1b12a4164209,False,Putney,area,51.4596,-0.2141,0,495d3b4a-76f8-4dcb-9456-436a783697db
46,e94443cc-1679-46b0-98dd-9b46f651d6b2,False,Richmond,area,51.4613,-0.3037,0,86e58ea5-30f9-4d42-8574-29944621efc9
17,9bc188bd-c112-456f-bfcf-5c31030b2d24,False,Rickmansworth,area,51.64444,-0.47316,0,1c4d2d05-f2d7-46c6-84a8-9d994d5e785d
21,95a37f36-5b87-4eb8-b1d8-2aba80c64d7a,False,Rotherhithe,area,51.49731,-0.0412,0,60a97291-2183-40df-ab56-5b7416cccdd4
1,a8270094-1d5b-4558-a1d0-5be568497233,False,Shepherds Bush,area,51.50616,-0.22483,6e1f4a8e-094c-4453-810d-a9a871de29c4,758baa09-e7dc-4c22-b05b-f70c37af0269
10,480fafaa-7b2b-4282-a14f-e226e0b20922,False,Shoreditch,area,51.52383,-0.07545,0a941967-b023-429d-8f0e-e8e6b3d02402,0ef4d0c7-91d4-4128-9115-ead6ebef2be9
3,1676a419-f2d0-4bf4-a5ae-569fea25e991,False,Soho,area,51.51489,-0.13645,46d55da1-a72f-4221-bddc-676473092b49,fd088478-cc9e-4599-854b-034633db4838
16,31e94930-b83f-4fed-914f-23c75fb14cae,False,South Bank,area,51.5049,-0.1136,NaN,9a993db8-af68-47da-8ad8-b072bb40ef88
48,42591133-6127-4928-a6fc-d0f99e2c3d9a,False,Spitalfields,area,51.5189,-0.0748,0,9559146f-b097-4a94-ac59-8134625c8ade
47,4ba994d3-be0f-4955-9926-d41d5b751170,False,Stoke Newington,area,51.5612,-0.0835,0,ec0e7473-5f69-4836-8040-8debbe7b5798
33,3738367d-e50c-45bb-b380-6a2c3b13572a,False,Stratford,area,51.5426,-0.001,0,b6af6702-6539-497b-b7cd-37bd6b90a639
49,694afc53-63a6-4bb5-b7cd-f45058482cbe,False,Streatham,area,51.4307,-0.1295,0,1571a803-f3a4-452e-b1f8-528c650634fd
50,fa1a6a3f-9a28-4e98-8114-5daf04677e4b,False,Tooting,area,51.4282,-0.1669,0,413beceb-2352-42b9-9744-4d19e1b85c88
34,e3e2b4bb-250f-442f-87c4-35558cb512f6,False,Twickenham,area,51.4453,-0.3375,0,ce222f11-ddbb-4b48-9d1f-e9a503986aef
12,be3be431-d8c0-4327-83e7-4718f2d97d97,False,Walthamstow,area,51.59072,-0.01736,b7a4cf4e-05f0-4dac-949a-cb99d8cb8a7e,f5f4ad9b-94c0-4726-89fe-2aafdb7de9cd
22,1c66e2c9-d99f-479f-8fcd-95a55d380678,False,Wapping,area,51.50821,-0.05875,0,a2fb86ba-5cb0-4228-8478-191a834ee76e
51,fc02fd90-d848-46ff-95ce-b360722d9315,False,Wimbledon,area,51.4183,-0.2206,0,c0d0ce8d-cae5-48dd-bc45-085cb0edb4d7
35,dbd74f8b-e5a6-480d-8654-f76796982e46,False,Woodford,area,51.6042,0.0325,0,fae607f2-35c3-4130-bb57-883c721f35ef

In [10]:
# import numpy as np
# grouper = pd.merge(venues, scores, how="left", on="pub_identity")
# grouper.head(3)
new_pub = grouper[['pub_identity',
 'pub_deletion',
 'place',
 'name',
 'address',
 'latitude',
 'longitude',
 'category',
 'rank',
 'station_identity',
 'area_identity']]
new_pub.head(3)

,pub_identity,pub_deletion,place,name,address,latitude,longitude,category,rank,station_identity,area_identity
0,00ffd490-b3b8-424d-b5d2-5122bbebdba2,False,ChIJd9ZrglcDdkgRbfzaNDJlWWk,Katzenjammers,"The Hop Exchange, 24 Southwark St, London SE1 ...",51.504873,-0.090954,bar,3.0,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d,75808b33-a6d6-4e79-bc63-cce0831d36a9
1,10f611a2-512f-4b07-aa57-8de878ccbb3b,False,ChIJ03GSCloDdkgRe_s-p2vyvQA,The Shard,"32 London Bridge St, London SE1 9SG, UK",51.504300,-0.086370,bar,4.0,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d,75808b33-a6d6-4e79-bc63-cce0831d36a9
2,7f3d8913-5a6d-40a4-a3e4-cd6eb0b0b8bf,False,ChIJo15e1lkDdkgR-X84Yf2cA0s,The George,"75 Borough High St, London SE1 1NH, UK",51.504304,-0.090417,bar,4.0,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d,75808b33-a6d6-4e79-bc63-cce0831d36a9

In [46]:
# scores = scores.drop('rank', axis=1)
scores.to_csv(cwd + '/files/scores.csv', index=False, sep=',', encoding='utf-8')

In [6]:
areas = areas.rename({'phot_identity': 'photo_identity'}, axis=1)
areas

,area_identity,area_deletion,area,type,latitude,longitude,parent_identity,photo_identity
0,33869d87-05dc-4728-a03a-c94cbab80292,False,Belgravia,area,51.497189,-0.153124,46d55da1-a72f-4221-bddc-676473092b49,48e727ee-6267-42fc-ba5b-be124326c01a
1,a8270094-1d5b-4558-a1d0-5be568497233,False,Shepherds Bush,area,51.506160,-0.224830,6e1f4a8e-094c-4453-810d-a9a871de29c4,758baa09-e7dc-4c22-b05b-f70c37af0269
2,632602fe-f847-4e12-9e03-31e3d22aa344,False,Mayfair,area,51.513340,-0.148120,46d55da1-a72f-4221-bddc-676473092b49,8cd1557c-c884-4e5f-a15a-0d110748a24f
3,1676a419-f2d0-4bf4-a5ae-569fea25e991,False,Soho,area,51.514890,-0.136450,46d55da1-a72f-4221-bddc-676473092b49,fd088478-cc9e-4599-854b-034633db4838
4,f25607ca-ec88-46dc-a1f3-b8dedd3e5ca3,False,Marleybone,area,51.519960,-0.149580,46d55da1-a72f-4221-bddc-676473092b49,e99686ed-6e72-4a20-9350-cc7271d7d5bc
5,8e74a1f3-b8fc-4986-a520-0884eb581cb7,False,Finsbury Park,area,51.565980,-0.105040,6f1fe7e4-3c54-4cfd-aae2-03692419e90e,7cf30976-12ab-4ce7-a874-912752d21eb4
6,8d7a9d04-eea3-45d7-a17c-e5271cbc1fa4,False,Bloomsbury,area,51.521987,-0.129058,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,5ac36d52-fed0-43a1-badf-28e5ed764b01
7,87fbc59f-9c44-4e78-b4b5-000ef3b4d559,False,Holborn,area,51.518560,-0.114520,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,2f77f48f-a4e9-4ae8-960d-d9ae6c3294fd
8,5dbbbdb9-3ab1-4a96-a0e9-edf4ca8bd52a,False,Covent Garden,area,51.513180,-0.124260,46d55da1-a72f-4221-bddc-676473092b49,bb0f90f0-e695-4922-8f3e-5e6a86557f35
9,87b4b121-bf17-44e7-805a-a860f9ee4b33,False,Farringdon,area,51.522900,-0.104350,71f589fb-f617-48b9-b779-dc1e8d73b1fe,fb3ad85f-bbd3-464e-9660-a15b55e8fa4d
10,480fafaa-7b2b-4282-a14f-e226e0b20922,False,Shoreditch,area,51.523830,-0.075450,0a941967-b023-429d-8f0e-e8e6b3d02402,0ef4d0c7-91d4-4128-9115-ead6ebef2be9
11,031970b0-c0f6-450a-8515-4129c30f3302,False,Bethnal Green,area,51.532250,-0.048130,0a941967-b023-429d-8f0e-e8e6b3d02402,de769202-e6da-4ba7-95e4-ebcc9efd3c72
12,be3be431-d8c0-4327-83e7-4718f2d97d97,False,Walthamstow,area,51.590720,-0.017360,b7a4cf4e-05f0-4dac-949a-cb99d8cb8a7e,f5f4ad9b-94c0-4726-89fe-2aafdb7de9cd
13,71f589fb-f617-48b9-b779-dc1e8d73b1fe,False,City,borough,51.513820,-0.091300,9a1922f6-0f90-4039-81a9-3b3a485f0eb8,b5b1f699-385d-496a-85ca-92b1814d3a46
14,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,False,Camden,borough,51.540630,-0.142800,2462a123-156f-4959-871a-3d5246509f3f,d0eb7a72-5025-45be-9e57-9c3c477819c2
15,16240ef3-d2e9-4d02-bd79-fabaf2147ff3,False,Hackney,borough,51.545000,-0.055300,577cffa7-03ea-4d0f-8615-0b625e01e3ca,0402e233-536c-4340-ab69-4c0e69344bf0
16,31e94930-b83f-4fed-914f-23c75fb14cae,False,South Bank,area,51.504900,-0.113600,NaN,9a993db8-af68-47da-8ad8-b072bb40ef88
17,9bc188bd-c112-456f-bfcf-5c31030b2d24,False,Rickmansworth,area,51.644440,-0.473160,0,1c4d2d05-f2d7-46c6-84a8-9d994d5e785d
18,d6404801-5f6d-4fcd-b998-45bc07588574,False,Hammersmith,area,51.492030,-0.223930,0,336ce42b-5387-417a-8c0a-eb5ebde75661
19,fa6b3525-c4d4-4a9c-b10c-6f097fa658ec,False,Loughton,area,51.657460,0.068060,0,24d2b966-aef5-4e45-8f1c-c06b288c9e03
20,7b9db47d-0a1c-429c-9608-711ed711e845,False,Islington,area,51.540600,-0.103130,0,56ed80b2-ccf7-4f50-a4f9-9336b65d5e41
21,95a37f36-5b87-4eb8-b1d8-2aba80c64d7a,False,Rotherhithe,area,51.497310,-0.041200,0,60a97291-2183-40df-ab56-5b7416cccdd4
22,1c66e2c9-d99f-479f-8fcd-95a55d380678,False,Wapping,area,51.508210,-0.058750,0,a2fb86ba-5cb0-4228-8478-191a834ee76e
23,9396d9ef-c062-4530-b395-5bae8304c034,False,Elephant and Castle,area,51.496890,-0.100510,0,34efd5bf-751c-4b5a-9350-a4a5348c9259
24,4670ba4f-8ece-457e-ac1d-b7ab9c8bc4eb,False,Dalston,area,51.546680,-0.074980,0,366e187b-1415-4f30-8689-eb2b9ffa5c43
25,ad43afd8-c0fb-4f48-a782-4d62270ca145,False,Clapton,area,51.556820,-0.055290,0,62988908-e318-4f7f-a79f-d19e4a919cc0
26,3765283d-ade4-45d8-b3fa-2121fc7776ad,False,Bermondsey,area,51.493540,-0.065390,0,83a95871-80c6-4007-947a-450d7c33da36
27,75808b33-a6d6-4e79-bc63-cce0831d36a9,False,London Bridge,area,51.503370,-0.087700,0,b9ecca89-5b0b-4c09-8a7f-e159688c0f77
28,8aed4e72-6690-4915-88c7-a7047131bf7e,False,Clapham,area,51.456540,-0.138760,0,f2b83fc5-bedd-4705-9a4e-e0a870e9ad29
29,def450bf-c4cf-488e-9602-95a28f6d7020,False,Battersea,area,51.472200,-0.165500,NaN,0db87051-e519-4c85-a20f-410c6f5bcda0
30,b6fba238-e15d-4046-add2-5cbd96c5213d,False,Brixton,area,51.461300,-0.115600,0,01ed7afe-b255-43ff-a32e-6d0df3ce6857
31,3604053e-7d97-4da1-a00f-e65844248107,False,Hampstead,area,51.555600,-0.176200,0,28055230-88b6-44a9-b9fa-f029bb9a198c
32,27f06f5f-2248-4b0c-b597-1b12a4164209,False,Putney,area,51.459600,-0.214100,0,495d3b4a-76f8-4dcb-9456-436a783697db
33,3738367d-e50c-45bb-b380-6a2c3b13572a,False,Stratford,area,51.542600,-0.001000,0,b6af6702-6539-497b-b7cd-37bd6b90a639
34,e3e2b4bb-250f-442f-87c4-35558cb512f6,False,Twickenham,area,51.445300,-0.337500,0,ce222f11-ddbb-4b48-9d1f-e9a503986aef
35,dbd74f8b-e5a6-480d-8654-f76796982e46,False,Woodford,area,51.604200,0.032500,0,fae607f2-35c3-4130-bb57-883c721f35ef

In [16]:
import uuid, os
import pandas as pd
cwd = os.getcwd()
areas = pd.read_csv(cwd + '/files/areas.csv')
# areas['phot_identity'] = [uuid.uuid4() for _ in range(len(areas.index))]
# areas['position'] = 0
areas.loc[areas['area'] == 'Belgravia', 'position'] = 19
areas.loc[areas['area'] == 'Shepherds Bush', 'position'] = 12
areas.loc[areas['area'] == 'Mayfair', 'position'] = 13
areas.loc[areas['area'] == 'Soho', 'position'] = 20
areas.loc[areas['area'] == 'Marleybone', 'position'] = 6
areas.loc[areas['area'] == 'Finsbury Park', 'position'] = 2
areas.loc[areas['area'] == 'Bloomsbury', 'position'] = 14
areas.loc[areas['area'] == 'Holborn', 'position'] = 15
areas.loc[areas['area'] == 'Covent Garden', 'position'] = 26
areas.loc[areas['area'] == 'Farringdon', 'position'] = 21
areas.loc[areas['area'] == 'Shoreditch', 'position'] = 16
areas.loc[areas['area'] == 'Bethnal Green', 'position'] = 23
areas.loc[areas['area'] == 'Walthamstow', 'position'] = 4
areas.loc[areas['area'] == 'City', 'position'] = 28
areas.loc[areas['area'] == 'Camden', 'position'] = 7
areas.loc[areas['area'] == 'Hackney', 'position'] = 10
areas.loc[areas['area'] == 'South Bank', 'position'] = 27
areas.loc[areas['area'] == 'Rickmansworth', 'position'] = 0
areas.loc[areas['area'] == 'Hammersmith', 'position'] = 18
areas.loc[areas['area'] == 'Loughton', 'position'] = 5
areas.loc[areas['area'] == 'Islington', 'position'] = 8
areas.loc[areas['area'] == 'Rotherhithe', 'position'] = 36
areas.loc[areas['area'] == 'Wapping', 'position'] = 29
areas.loc[areas['area'] == 'Elephant and Castle', 'position'] = 25
areas.loc[areas['area'] == 'Dalston', 'position'] = 9
areas.loc[areas['area'] == 'Clapton', 'position'] = 3
areas.loc[areas['area'] == 'Bermondsey', 'position'] = 14
areas.loc[areas['area'] == 'London Bridge', 'position'] = 22
areas.loc[areas['area'] == 'Clapham', 'position'] = 32
areas.loc[areas['area'] == 'Battersea', 'position'] = 31
areas.loc[areas['area'] == 'Brixton', 'position'] = 33
areas.loc[areas['area'] == 'Hampstead', 'position'] = 1
areas.loc[areas['area'] == 'Putney', 'position'] = 24
areas.loc[areas['area'] == 'Stratford', 'position'] = 17
areas.loc[areas['area'] == 'Twickenham', 'position'] = 30
areas.loc[areas['area'] == 'Woodford', 'position'] = 11
areas

,area_identity,area_deletion,area,type,latitude,longitude,parent_identity,photo_identity,position
0,33869d87-05dc-4728-a03a-c94cbab80292,False,Belgravia,area,51.497189,-0.153124,46d55da1-a72f-4221-bddc-676473092b49,48e727ee-6267-42fc-ba5b-be124326c01a,19.0
1,a8270094-1d5b-4558-a1d0-5be568497233,False,Shepherds Bush,area,51.506160,-0.224830,6e1f4a8e-094c-4453-810d-a9a871de29c4,758baa09-e7dc-4c22-b05b-f70c37af0269,12.0
2,632602fe-f847-4e12-9e03-31e3d22aa344,False,Mayfair,area,51.513340,-0.148120,46d55da1-a72f-4221-bddc-676473092b49,8cd1557c-c884-4e5f-a15a-0d110748a24f,13.0
3,1676a419-f2d0-4bf4-a5ae-569fea25e991,False,Soho,area,51.514890,-0.136450,46d55da1-a72f-4221-bddc-676473092b49,fd088478-cc9e-4599-854b-034633db4838,20.0
4,f25607ca-ec88-46dc-a1f3-b8dedd3e5ca3,False,Marleybone,area,51.519960,-0.149580,46d55da1-a72f-4221-bddc-676473092b49,e99686ed-6e72-4a20-9350-cc7271d7d5bc,6.0
5,8e74a1f3-b8fc-4986-a520-0884eb581cb7,False,Finsbury Park,area,51.565980,-0.105040,6f1fe7e4-3c54-4cfd-aae2-03692419e90e,7cf30976-12ab-4ce7-a874-912752d21eb4,2.0
6,8d7a9d04-eea3-45d7-a17c-e5271cbc1fa4,False,Bloomsbury,area,51.521987,-0.129058,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,5ac36d52-fed0-43a1-badf-28e5ed764b01,14.0
7,87fbc59f-9c44-4e78-b4b5-000ef3b4d559,False,Holborn,area,51.518560,-0.114520,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,2f77f48f-a4e9-4ae8-960d-d9ae6c3294fd,15.0
8,5dbbbdb9-3ab1-4a96-a0e9-edf4ca8bd52a,False,Covent Garden,area,51.513180,-0.124260,46d55da1-a72f-4221-bddc-676473092b49,bb0f90f0-e695-4922-8f3e-5e6a86557f35,26.0
9,87b4b121-bf17-44e7-805a-a860f9ee4b33,False,Farringdon,area,51.522900,-0.104350,71f589fb-f617-48b9-b779-dc1e8d73b1fe,fb3ad85f-bbd3-464e-9660-a15b55e8fa4d,21.0
10,480fafaa-7b2b-4282-a14f-e226e0b20922,False,Shoreditch,area,51.523830,-0.075450,0a941967-b023-429d-8f0e-e8e6b3d02402,0ef4d0c7-91d4-4128-9115-ead6ebef2be9,16.0
11,031970b0-c0f6-450a-8515-4129c30f3302,False,Bethnal Green,area,51.532250,-0.048130,0a941967-b023-429d-8f0e-e8e6b3d02402,de769202-e6da-4ba7-95e4-ebcc9efd3c72,23.0
12,be3be431-d8c0-4327-83e7-4718f2d97d97,False,Walthamstow,area,51.590720,-0.017360,b7a4cf4e-05f0-4dac-949a-cb99d8cb8a7e,f5f4ad9b-94c0-4726-89fe-2aafdb7de9cd,4.0
13,71f589fb-f617-48b9-b779-dc1e8d73b1fe,False,City,borough,51.513820,-0.091300,9a1922f6-0f90-4039-81a9-3b3a485f0eb8,b5b1f699-385d-496a-85ca-92b1814d3a46,28.0
14,8576a0cd-0b4d-4a85-ba3c-122360e7d5f8,False,Camden,borough,51.540630,-0.142800,2462a123-156f-4959-871a-3d5246509f3f,d0eb7a72-5025-45be-9e57-9c3c477819c2,7.0
15,16240ef3-d2e9-4d02-bd79-fabaf2147ff3,False,Hackney,borough,51.545000,-0.055300,577cffa7-03ea-4d0f-8615-0b625e01e3ca,0402e233-536c-4340-ab69-4c0e69344bf0,10.0
16,31e94930-b83f-4fed-914f-23c75fb14cae,False,South Bank,area,51.504900,-0.113600,NaN,9a993db8-af68-47da-8ad8-b072bb40ef88,27.0
17,9bc188bd-c112-456f-bfcf-5c31030b2d24,False,Rickmansworth,area,51.644440,-0.473160,0,1c4d2d05-f2d7-46c6-84a8-9d994d5e785d,0.0
18,d6404801-5f6d-4fcd-b998-45bc07588574,False,Hammersmith,area,51.492030,-0.223930,0,336ce42b-5387-417a-8c0a-eb5ebde75661,18.0
19,fa6b3525-c4d4-4a9c-b10c-6f097fa658ec,False,Loughton,area,51.657460,0.068060,0,24d2b966-aef5-4e45-8f1c-c06b288c9e03,5.0
20,7b9db47d-0a1c-429c-9608-711ed711e845,False,Islington,area,51.540600,-0.103130,0,56ed80b2-ccf7-4f50-a4f9-9336b65d5e41,8.0
21,95a37f36-5b87-4eb8-b1d8-2aba80c64d7a,False,Rotherhithe,area,51.497310,-0.041200,0,60a97291-2183-40df-ab56-5b7416cccdd4,36.0
22,1c66e2c9-d99f-479f-8fcd-95a55d380678,False,Wapping,area,51.508210,-0.058750,0,a2fb86ba-5cb0-4228-8478-191a834ee76e,29.0
23,9396d9ef-c062-4530-b395-5bae8304c034,False,Elephant and Castle,area,51.496890,-0.100510,0,34efd5bf-751c-4b5a-9350-a4a5348c9259,25.0
24,4670ba4f-8ece-457e-ac1d-b7ab9c8bc4eb,False,Dalston,area,51.546680,-0.074980,0,366e187b-1415-4f30-8689-eb2b9ffa5c43,9.0
25,ad43afd8-c0fb-4f48-a782-4d62270ca145,False,Clapton,area,51.556820,-0.055290,0,62988908-e318-4f7f-a79f-d19e4a919cc0,3.0
26,3765283d-ade4-45d8-b3fa-2121fc7776ad,False,Bermondsey,area,51.493540,-0.065390,0,83a95871-80c6-4007-947a-450d7c33da36,14.0
27,75808b33-a6d6-4e79-bc63-cce0831d36a9,False,London Bridge,area,51.503370,-0.087700,0,b9ecca89-5b0b-4c09-8a7f-e159688c0f77,22.0
28,8aed4e72-6690-4915-88c7-a7047131bf7e,False,Clapham,area,51.456540,-0.138760,0,f2b83fc5-bedd-4705-9a4e-e0a870e9ad29,32.0
29,def450bf-c4cf-488e-9602-95a28f6d7020,False,Battersea,area,51.472200,-0.165500,NaN,0db87051-e519-4c85-a20f-410c6f5bcda0,31.0
30,b6fba238-e15d-4046-add2-5cbd96c5213d,False,Brixton,area,51.461300,-0.115600,0,01ed7afe-b255-43ff-a32e-6d0df3ce6857,33.0
31,3604053e-7d97-4da1-a00f-e65844248107,False,Hampstead,area,51.555600,-0.176200,0,28055230-88b6-44a9-b9fa-f029bb9a198c,1.0
32,27f06f5f-2248-4b0c-b597-1b12a4164209,False,Putney,area,51.459600,-0.214100,0,495d3b4a-76f8-4dcb-9456-436a783697db,24.0
33,3738367d-e50c-45bb-b380-6a2c3b13572a,False,Stratford,area,51.542600,-0.001000,0,b6af6702-6539-497b-b7cd-37bd6b90a639,17.0
34,e3e2b4bb-250f-442f-87c4-35558cb512f6,False,Twickenham,area,51.445300,-0.337500,0,ce222f11-ddbb-4b48-9d1f-e9a503986aef,30.0
35,dbd74f8b-e5a6-480d-8654-f76796982e46,False,Woodford,area,51.604200,0.032500,0,fae607f2-35c3-4130-bb57-883c721f35ef,11.0

In [18]:
# df_area.to_csv('area.csv', index=False)

import pandas as pd
import os
import uuid
cwd = os.getcwd()
# areas = pd.read_csv(cwd + '/files/areas.csv')
df_pubs = pd.read_csv(cwd + '/files/venues.csv')
df_areas = pd.read_csv(cwd + '/files/areas.csv')
df_stations = df_areas[['area_identity', 'area']]
pubs_area = pd.merge(df_pubs, df_stations, how='left', on='area_identity')
pubs_area

pub_id = 'c9a4f721-53ae-4482-916c-abc4e1ba52b1'
id_type = pubs_area.loc[pubs_area['pub_identity'] == pub_id, 'area'].iloc[0]
id_type
# pubs = pubs.drop('Unnamed: 0', axis=1)
# pubs['area_identity'] = " "
# df.to_csv(cwd + '/files/venues.csv', index=False)
# scores['tv'] = False
# scores['garden'] = False
# scores['music'] = False
# scores['late'] = False
# scores['meals'] = False
# scores['toilet'] = False
# scores['cheap'] = False
# scores['games'] = False

# pubs.loc[pubs['area_identity'] == '632602fe-f847-4e12-9e03-31e3d22aa344', 'area'] = 'Mayfair'

# new_row = {'area_identity':uuid.uuid4(), 'area_deletion':False, 'area':'Clapham', 'type':'area', 'latitude':51.45654, 'longitude':-0.13876, 'parent_identity':0}
# areas = areas.append(new_row, ignore_index=True)

# areas.loc[areas['area_identity'] == '480fafaa-7b2b-4282-a14f-e226e0b20922', 'latitude'] = 51.52383
# areas.loc[areas['area_identity'] == '480fafaa-7b2b-4282-a14f-e226e0b20922', 'longitude'] = -0.07545
# areas.loc[areas['area_identity'] == '480fafaa-7b2b-4282-a14f-e226e0b20922', 'area'] = 'Shoreditch'
# scores = scores.drop('clean', axis=1)
# df = df.drop('_is_copy', axis=1)
# df = df.drop('_mgr', axis=1)
# df = df.drop('_item_cache', axis=1)
# df = df.drop('_attrs', axis=1)
# df = df.drop('_flags', axis=1)

# areas = areas.drop(areas[areas.area_identity == '07139d67-7e99-47b7-860b-04cead639a3c'].index)
# df.to_csv(cwd + '/files/venues.csv', index=False, sep=',', encoding='utf-8')
# areas.sort_values(by='area')
# df = pd.merge

'Walthamstow'

In [7]:
areas.to_csv(cwd + '/files/areas.csv', index=False, sep=',', encoding='utf-8')

In [9]:
cwd = os.getcwd()
pubs_df.to_csv(cwd + '/files/pubs.csv', index=False, sep=',', encoding='utf-8')

In [30]:
import numpy as np
df = pd.read_csv(cwd + '/files/scores.csv')
df['rating'] = (df[["atmosphere", "clientele", "decor", "friendliness", "selection"]]).mean(axis=1) * 10
df['rank'] = np.where(df['rating']>80,5,np.where(df['rating']>60,4,np.where(df['rating']>40,3,np.where(df['rating']>20,2,np.where(df['rating']>0,1,0)))))
df[["atmosphere", "clientele", "decor", "friendliness", "selection", "rating", "rank"]].sort_values(by='rank', ascending=False)
df.to_csv(cwd + '/files/scores.csv', index=False, sep=',', encoding='utf-8')

In [43]:
# df = pd.read_csv(cwd + '/files/venues.csv')
# df[['pub_identity', 'name']]
# import uuid
# df2['photo_identity'] = [uuid.uuid4() for _ in range(len(df_area.index))]
# df_area
# df
# cwd = os.getcwd()
# df2.to_csv(cwd + '/files/scores.csv', index=False, sep=',', encoding='utf-8')
# df['photo_identity'] = [uuid.uuid4() for _ in range(len(df.index))]
# df_photo = df[['pub_identity', 'name']]
# df_photo['photo_identity'] = [uuid.uuid4() for _ in range(len(df.index))]
# df_photo['photo_deletion'] = False
list(df_photo)
df_photo[['photo_identity', 'photo_deletion', 'name', 'pub_identity']]
df_photo.to_csv(cwd + '/files/photos.csv', index=False, sep=',', encoding='utf-8')

In [15]:
import numpy as np
import pandas as pd
import os
cwd = os.getcwd()
df1 = pd.read_csv(cwd + '/files/venues.csv')
df2 = pd.read_csv(cwd + '/files/scores.csv')
df = pd.merge(df1,df2,on=['pub_identity'],how="inner",indicator=True)
# filtered_values = np.where((df['tv'] == True) & (df['garden'] == False))
filtered_values = df.loc[(df['tv'].astype(str) == 'False') & (df['garden'].astype(str) == 'True') & (df['music'].astype(str) == 'False')]
# df3 = df.loc[df['meals'] == True]
filtered_values

,pub_identity,pub_deletion,place,name,address,latitude,longitude,category,rank,station_identity,...,tv,garden,music,late,meals,toilets,cheap,games,rating,_merge
69,68196501-34c4-4a4c-b4e4-9ac7d7dc48d6,False,ChIJKylYzmQbdkgRRFvGMVFMWKg,The Hen and Chickens,"109 St Paul's Rd, London N1 2NA, UK",51.546048,-0.101999,bar,0.0,6339de91-7b07-4cc2-960f-3e12bb216599,...,False,True,False,False,False,False,True,False,0.0,both
70,7b6e05c3-f6ca-4d6f-85d5-98ce06d82fb2,False,ChIJOURKcHwFdkgRqfDY5N2gv6Y,Windmill Pub Clapham,"Clapham Common South Side, London SW4 9DE, UK",51.457617,-0.144196,bar,0.0,a9363065-6046-4c1c-bf5c-f0194750a613,...,False,True,False,False,False,False,False,False,0.0,both
76,07b38ff8-cbde-4e21-b2ba-9b30f8d84b52,False,ChIJHR4pfPgcdkgRZRSlOZj1q4A,The Clapton Hart,"231 Lower Clapton Rd, Lower Clapton, London E5...",51.557776,-0.056123,bar,1.0,debe8a35-cd92-41a3-b1c7-e77954bb269a,...,False,True,False,False,True,False,True,True,14.0,both

In [9]:
import datetime
from dateutil.relativedelta import relativedelta

# one_year_from_now = datetime.datetime.now()
# + relativedelta(years=1)
date_formated = datetime.datetime.now().strftime("%d/%m/%Y")
print(date_formated)

17/04/2023

In [42]:
import os
import pandas as pd
cwd = os.getcwd()
# df.rename(columns={'toilets': 'favourite'}, inplace=True)

# df = pd.read_csv(cwd + '/files/pubs.csv')
# df.head(5)
# df = df.drop('food', axis=1)
# list(df)

# df.to_csv(cwd + '/files/pubs.csv', index=False, sep=',', encoding='utf-8')
# df2
# df['rank'].fillna(0)
# df['rank'].astype(int, errors='ignore')

# df['rank'] = df['rank'].astype(int).round(decimals = 0)
# df['rank']
# df.dtypes
# pd.set_option('display.max_rows', 25)
# df.sort_values(by='rank', ascending=False)

# df.to_csv(cwd + '/files/pubs.csv', index=False, sep=',', encoding='utf-8')
# df = pd.read_csv(cwd + '/files/pubs.csv')
# df.dtypes
df

,address,area_identity,category,place,pub_deletion,pub_identity,pub_latitude,pub_longitude,pub_name,rank,station_identity
0,"32 London Bridge St, London SE1 9SG, UK",75808b33-a6d6-4e79-bc63-cce0831d36a9,bar,ChIJ03GSCloDdkgRe_s-p2vyvQA,False,10f611a2-512f-4b07-aa57-8de878ccbb3b,51.504300,-0.086370,The Shard,4,f5b94c64-beb5-4295-95a1-34fc1f5b5a8d
1,"29 Watling St, Greater, London EC4M 9BR, UK",71f589fb-f617-48b9-b779-dc1e8d73b1fe,bar,ChIJy2QpfVUDdkgR_ZjHMTwf28A,False,fd1f6053-8868-419a-a445-fd24a21e8b99,51.512922,-0.093545,Ye Olde Watling,4,17d9ab39-318d-4187-bdcb-a6aa315d1997
2,"39 Bow St, London WC2E 7AU, UK",5dbbbdb9-3ab1-4a96-a0e9-edf4ca8bd52a,bar,ChIJtVNpD8sEdkgRW_kxR_77yN4,False,efcf3870-da4d-4a44-9c1b-3d5be38edeaa,51.512883,-0.121248,Marquess of Anglesey,4,6755ece0-c460-4849-9ba9-ece9e516d8f1
3,"213 Strand, Temple, London WC2R 1AP, UK",87fbc59f-9c44-4e78-b4b5-000ef3b4d559,bar,ChIJnx8u7bQEdkgRGm5XKuA0SBQ,False,eabe0a83-2841-4c72-b86a-4fb5504e2161,51.513198,-0.113085,The George,4,a9dd3bb6-f448-4315-b4b9-be59803228f3
4,"91-92 Strand, Greater, London WC2R 0DW, UK",5dbbbdb9-3ab1-4a96-a0e9-edf4ca8bd52a,bar,ChIJPyb_JskEdkgRDw4ffzUc8cQ,False,75d7f798-4740-483c-9140-88318b66078e,51.510392,-0.121295,The Coal Hole,4,457a9061-abd6-4bb1-8017-0c1eaeb4efdd
...,...,...,...,...,...,...,...,...,...,...,...
805,"57 Melina Rd, London W12 9HY, UK",a8270094-1d5b-4558-a1d0-5be568497233,bar,ChIJDTogvDIOdkgRgPf0tYhJpJ0,<app.models.pub.pub_deletion.PubDeletion objec...,7367e7d2-95f3-4faa-8eb3-3338da709ad6,51.503467,-0.236378,"The Crown & Sceptre, Shepherd's Bush",0,ae6be160-892c-4f7b-9ec3-9d3a76156d83
806,"114 Campden Hill Rd, London W8 7AR, UK",f54b7658-a904-4e35-bfac-585287f06a64,bar,ChIJqWZt3PoPdkgRDPKhKc_l0PI,<app.models.pub.pub_deletion.PubDeletion objec...,7a074fde-9176-4290-9b45-8f834a0752e3,51.506285,-0.198655,The Windsor Castle,0,871133b6-4992-42b0-afde-c2a37c42438c
807,"98 Park Rd, London NW1 4SH, UK",f25607ca-ec88-46dc-a1f3-b8dedd3e5ca3,bar,ChIJkfUgL8YadkgR35n_vJTk9iw,<app.models.pub.pub_deletion.PubDeletion objec...,f18b1d06-5448-40f8-b98f-114fb1f98f08,51.526401,-0.162276,The Windsor Castle Pub,0,12ff1843-54c0-448e-a75b-a431c4f8feda
808,"23 Francis St, London SW1P 1DN, UK",33869d87-05dc-4728-a03a-c94cbab80292,bar,ChIJr9VXtd8EdkgRINnSvsIZLhc,false,53314102-b77d-423c-bd03-6deb04941105,51.495202,-0.137863,The Windsor Castle,0,0909161b-f510-4deb-899d-bfaedeaabe57
809,"11 Warwick Way, Pimlico, London SW1V 1QT, UK",33869d87-05dc-4728-a03a-c94cbab80292,bar,ChIJxdvnP-AEdkgRv5JtRBaAQ74,false,9a32f0a7-3092-4ecc-8701-f72b367ac93c,51.492620,-0.139196,Queens Arms,0,0909161b-f510-4deb-899d-bfaedeaabe57

In [9]:
# df.rename(columns={'lively': 'historic'}, inplace=True)
# df.rename(columns={'games': 'darts'}, inplace=True)
# df.rename(columns={'toilets': 'favourite'}, inplace=True)
# list(df)
df = df[['review_identity',
 'review_deletion',
 'pub_identity',
 'tv',
 'garden',
 'meals',
 'music',
 'quiz',
 'pool',
 'darts',
 'cheap',
 'pet',
 'historic',
 'late',
 'favourite']]
df

,review_identity,review_deletion,pub_identity,tv,garden,meals,music,quiz,pool,darts,cheap,pet,historic,late,favourite
0,1869bc0d-e2a8-40c9-bcba-073bfaaa4ba0,False,00ffd490-b3b8-424d-b5d2-5122bbebdba2,False,False,False,False,False,False,False,False,False,False,False,False
1,e1c5fd3e-8fb3-40ff-a7cb-1bf2d20e8611,False,10f611a2-512f-4b07-aa57-8de878ccbb3b,False,False,True,False,False,False,False,False,False,False,False,False
2,f2df2681-9b63-46a7-83f2-1fb8d6e3e0a1,False,efcf3870-da4d-4a44-9c1b-3d5be38edeaa,False,False,True,False,False,False,False,False,False,False,False,False
3,50fa15ac-5cd3-41ab-a183-54e52897955a,False,eabe0a83-2841-4c72-b86a-4fb5504e2161,True,True,False,False,False,False,False,False,False,False,False,False
4,e55d062a-f75b-4d7e-95bb-2f7199650949,False,75d7f798-4740-483c-9140-88318b66078e,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,33ffbda2-5092-4c4a-8af5-85e4980390e5,False,3ce5eac8-17c9-4a33-aba1-c10f695660ef,False,False,False,False,False,False,False,False,False,False,False,False
142,7bc34c4b-64a4-4753-92db-bdad04ff7297,False,62d2a587-2e8c-41e0-8e7d-90737363d45e,True,True,True,True,True,False,False,False,False,False,False,False
143,1cb5911f-0c62-4ef6-bdf4-3d77671b8044,False,2cd9035f-af04-41dd-b63c-f47b75c90a8f,False,True,True,False,True,False,False,False,False,False,False,False
144,08f270ad-e9b3-4bc3-afa2-6fb9d09cbdef,False,18bd5071-1fc1-48b1-bdc9-d91f88d36f3a,False,False,False,False,False,False,False,False,False,False,False,False
145,25782f5d-d153-47f0-abab-629d736b5635,False,3ebbdbe5-032f-4cc3-ad27-424c04fbf30e,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.to_csv(cwd + '/files/reviews_new.csv', index=False, sep=',', encoding='utf-8')

In [2]:
import json
class Doc:
    def __init__(self):
        self.abc=Abc()
    def jsonable(self):
        return self.__dict__

def ComplexHandler(Obj):
    if hasattr(Obj, 'jsonable'):
        return Obj.jsonable()
    else:
        raise TypeError, 'Object of type %s with value of %s is not JSON serializable' % (type(Obj), repr(Obj))

doc=Doc()
print json.dumps(doc, default=ComplexHandler)

SyntaxError: invalid syntax (2446329778.py, line 12)

In [ ]:
import pandas as pd
pubs = pd.read_csv(

In [6]:
import json


class Doc:
    def __init__(self):
        self.identity=Identity()
        self.data="all data"
    def reprJSON(self):
        return dict(id=self.identity, data=self.data) 

class ComplexEncoder(json.JSONEncoder):
    def default(self, obj):
        if hasattr(obj,'reprJSON'):
            return obj.reprJSON()
        else:
            return json.JSONEncoder.default(self, obj)

doc=Doc()
print ("Str representation")
print (doc.reprJSON())
print ("Full JSON")
print (json.dumps(doc.reprJSON(), cls=ComplexEncoder))
print ("Partial JSON")
print (json.dumps(doc.identity.addr.reprJSON(), cls=ComplexEncoder))

Str representation
{'id': <__main__.Identity object at 0x7fc4f0f0e160>, 'data': 'all data'}
Full JSON
{"id": {"name": "abc name", "firstname": "abc first", "address": {"street": "sesame street", "zip": "13000"}}, "data": "all data"}
Partial JSON
{"street": "sesame street", "zip": "13000"}